.myweb{
    color:white;
    background: tomato;
    width: 500px;
    margin:auto;
    padding:40px;
}
.design{
    color:#ffffff;
    background: turquoise;
    padding: 60px;
    margin-top: 20px;
    width: 1000px;
    margin:auto;
}